<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        input{
            width: 50%
        }
        textarea{
            resize: none;
            width: 50%;
            height: 6.25em;
        }
    </style>
</head>
<body>
<h2>글 작성</h2>
<form th:action th:object="${text}" th:method="post">
    <div>
        <label for="title"></label>
            <input type ="text" id="title" th:field="*{title}" th:class="form-control" placeholder="제목을 입력하시오">
    </div>
    <div>
        <label for="content"></label>
        <textarea class="form-control" rows="20"  id="content" th:field="*{content}" th:class="form-control"
        placeholder="내용을 입력하시오"></textarea>
    </div>
    <button type="submit">작성</button>
    <button type="button" th:onclick="|location.href='@{/board}'|">취소</button>
</form>
</body>
</html>