<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>

<div class="row justify-content-center">
    <div class="col-md-6 text-center">
        <h1>글 작성</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-8">
        <form th:action th:object="${text}" th:method="post">
            <div>
                <label for="title"></label>
                <input type ="text" id="title" th:field="*{title}" th:class="form-control" th:errorclass="field-error" placeholder="제목을 입력하시오">
                <div class="field-error" th:errors="*{title}">
                    제목 오류
                </div>
            </div>
            <div>
                <label for="content"></label>
                <textarea rows="15" id="content" th:field="*{content}" placeholder="내용을 입력하시오" th:errorclass="field-error" th:class="form-control"></textarea>
                <div class="field-error" th:errors="*{content}">
                    내용 오류
                </div>
            <button type="submit" class="btn btn-primary">작성</button>
            <button type="button" class="btn btn-primary" th:onclick="|location.href='@{/board}'|">취소</button>
            </div>
        </form>
</div>
</body>
</html>