<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<h2>글 작성</h2>
<form th:action th:object="${text}" th:method="post">
    <div>
        <label for="title">제목</label>
            <input type ="text" id="title" th:field="*{title}" th:class="form-control">
    </div>
    <div>
        <label for="content">내용</label>
            <input type="text" id="content" th:field="*{content}" th:class="form-control">
    </div>
    <button type="submit">작성</button>
    <button type="button" th:onclick="|location.href='@{/board}'|">취소</button>
</form>
</body>
</html>