<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        table{
            margin:auto;
        }
        ul{
            display: inline-block;
            margin-top:20px;
        }
        ul li{
            list-style-type: none;
            diplay: inline-block;
            margin-right:10px;
            float:left;
        }
    </style>
</head>
<body>
<h2 th:align="center">게시판</h2>
<table>
    <form th:action th:object="${textList}" th:method="post">
        <tr>
            <th>제목</th>
        </tr>
        <tr th:each="text: ${textList}" class="form-check form-check-inline">
            <td th:text="${text.title}" th:onclick="|location.href='@{/board/{tid}(tid=${text.tid})}'|"></td>
        </tr>
    </form>
</table>
<div th:align="center">
    <ul>
        <li><a th:href="@{/board/(page=(${page}-1))}" th:text="prev"></a></li>
        <li th:each="pg : ${#numbers.sequence(block.getStart(), block.getEnd())}">
            <a th:href = "@{/board/(page=(${pg}))}" th:text="(${pg}) "></a>
        </li>
        <li><a th:href="@{/board/(page=(${page}+1))}" th:text="next"></a></li>
    </ul>
</div>
<br>
<div th:align="center">
    <button type="button" th:onclick="|location.href='@{board/new}'|">새로운 글 작성</button>
    <form th:method="post">
        <button type="button" th:onclick="|location.href='@{logout}'|">로그아웃</button>
    </form>
</div>
</body>
</html>