<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    회원가입
</head>
<body>
<form th:action th:object="${customer}" th:method="post">
    <div>
        <label for="loginId">로그인 ID</label>
        <input type="text" id="loginId" th:field="*{loginId}" class="form-control">
    </div>
    <div>
        <label for="password">비밀번호</label>
        <input type="text" id="password"  th:field="*{password}"  class="form-control">
    </div>
    <div>
        <label for="name">이름</label>
        <input type="text" id="name" th:field="*{cname}"
               class="form-control">
    </div>
    <div>
        <label for="age">나이</label>
        <input type="text" id="age" th:field="*{age}" class="form-control">
    </div>
    <div>
        <button type="submit">회원가입</button>
    </div>
    <div>
        <button href="home">취소</button>
    </div>
</form>
</body>
</html>