<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시판</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">게시판</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table">
                        <thead class="thead-primary">
                        <tr>
                            <th>#</th>
                            <th>제목</th>
                            <th>작성자</th>
                            <th>작성 일자</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="text, textStat: ${textList}">
                            <td th:text="${textStat.index} + 1">111</td>
                            <td th:text="${text.title}" th:onclick="|location.href='@{/board/{id}(id=${text.id})}'|">222</td>
                            <td th:text="${text.content}">333</td>
                            <td>20230206</td>
                        </tr>
                     <!--<tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>markotto@email.com</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>jacobthornton@email.com</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>larrybird@email.com</td>
                        </tr>
                        <tr>
                            <th scope="row">4</th>
                            <td>John</td>
                            <td>Doe</td>
                            <td>johndoe@email.com</td>
                        </tr>
                        <tr>
                            <th scope="row">5</th>
                            <td>Gary</td>
                            <td>Bird</td>
                            <td>garybird@email.com</td>
                        </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div th:align="center">
            <ul>
                <li><a th:href="@{/board/(page=(${page}-1))}" th:text="prev"></a></li>
                <li th:each="pg : ${#numbers.sequence(block.getStart(), block.getEnd())}">
                    <a th:href = "@{/board/(page=(${pg}))}" th:text="(${pg}) "></a>
                </li>
                <li><a th:href="@{/board/(page=(${page}+1))}" th:text="next"></a></li>
            </ul>
        </div>
    </div>
</section>

<script src="/js/jquery.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>