<!DOCTYPE html>
<html lang="en">
<head>
    <title>게시판</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<form th:class="form-group" th:action th:object="${loginForm}" method="post">
    <div>
        <label for="loginId" >로그인 ID</label>
        <input th:class="input-group-text" type="text" id="loginId" th:field="*{loginId}">
    </div>
    <div>
        <label for="password">패스워드</label>
        <input  th:class="input-group-text" type="text" id="password" th:field="*{password}">
    </div>
    <div>
        <button class="btn btn-primary" type="submit">로그인</button>
    </div>
</form>
</body>
</html>